/* headerlogin.css */

header {
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    padding: 40px 0; /* Mantener la banda más grande */
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Aumentar aún más el tamaño de la fuente de los enlaces de navegación */
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.5rem; /* Aumentado a 1.5rem para un tamaño de letra mayor */
    font-weight: bold;
}
